extends layout

block content
  h1= title
  p Welcome to Magic: The Framework. This site contains demo's for trying out Dynamic Reactive Programming.
  h2 Demo's
  ul
      li
        a(href='/demo/zoom') zoom
      li
        a(href='/demo/sound') sound
  h2 HTMUD
  p I wrote a game, using reactive constructs.
  p
    a(href='/htmud/main') HTMUD