doctype 5
html
  head
    title Magic: The Framework - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
  body
    block content

    script(src='/javascripts/jquery-1.9.1.js')
    script(src='/javascripts/underscore.js')

    script(src='/javascripts/tao.js')

    script(src='/src/magic/action.js')
    script(src='/src/magic/behavior.js')
    script(src='/src/magic/effect.js')
    script(src='/src/magic/event.js')
    script(src='/src/magic/field.js')
    script(src='/src/magic/index.js')
    script(src='/src/magic/interval.js')
    script(src='/src/magic/list.js')
    script(src='/src/magic/observable.js')
    script(src='/src/magic/phase.js')
    script(src='/src/magic/reactive.js')
    script(src='/src/magic/window.js')
    script(src='/src/magic/jquery.js')

    block scripts