extends ../layout

block styles
    link(rel='stylesheet', href='/stylesheets/htmud/main.css')
block scripts
    script(src='/src/htmud/main.js')
    script require('/src/htmud/main');

block content
    div(class="console")
    div(class="command")
        form(action="javascript:;")
            input(type="text")
            input(type="submit",value="Go")
